h1 {
	font-weight: 300;
	width: 100%;
	text-align: center;
	font-size: 60px;
	color: white;
	text-shadow: 2px 2px 7px rgba(0,0,0,0.75);
}
img {
	margin-top: 100px;
	width: 90vw;
	margin-left: 5vw;
}
a {
	font-weight: 300;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	color: white;
	font-size: 40px;
	border: 3px solid white;
	padding: 5px 12px 8px 12px;
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 2px 2px 7px rgba(0,0,0,0.75);
	transition: all 0.3s ease-in-out;
}
a:hover {
	bottom: 55px;
	background-color: white;
	color: black;
}
body {
	background-image: url('img/background.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}